.expand-enter {
    max-height: 0;
    opacity: 0;
  }
  
  .expand-enter-active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  }

  .expand-exit {
    max-height: 1000px; 
    opacity: 1;
  }

  .expand-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
  }