@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 173, 216, 230; /* Light blue */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0; /* Dark blue */
    --background-end-rgb: 0, 0, 0; /* Black */
  }
}

body {
  font-family: var(--font-opensans);
  color: rgb(var(--foreground-rgb));
  background-image: url('/halcyonashes/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-opensans);
  font-weight: 600;
}

p, ul, li, a, span {
  font-family: var(--font-opensans);
  font-weight: 400; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
